<header>
  <ul class="menu-bar">
    <li>
      <a href="https://d4nyqvl6n2ptc.cloudfront.net/characters/index.html"
        >Characters</a
      >
    </li>
    <li>
      <a href="https://d4nyqvl6n2ptc.cloudfront.net/comics/index.html"
        >Comics</a
      >
    </li>
    <li>
      <a href="https://d4nyqvl6n2ptc.cloudfront.net/series/index.html"
        >Series</a
      >
    </li>
    <li>
      <a href="https://d4nyqvl6n2ptc.cloudfront.net/stories/index.html"
        >Stories</a
      >
    </li>
  </ul>
</header>
