<div class="grid">
  <div class="card-grid card-pattern" *ngFor="let story of allStories | async">
    <h2 class="card-title">{{ story.title }}</h2>
    <p class="card-date">{{ story.modified }}</p>
    <p class="card-description">{{ story.originalIssue.name }}</p>
    <a
      target="_blank"
      href="{{
        story.resourceURI
      }}?ts=1&apikey=2dc2cd91d9a820fe5004bf92699210e2&hash=430012a2b7fc44c9d50feda2f1ea4bad"
      class="card-button"
      >Descripcion <span>&rarr;</span></a
    >
  </div>
</div>
